<div class="top">
  <div class="topWrap">
    <a class="logo" href="{{@blog.url}}">Chrystus w Starym Mieście</a>

    <div class="menu">
      <ul>
        <li><a href="{{@blog.url}}/o-adoracji">o adoracji</a></li>
        <li><a href="{{@blog.url}}/co-dalej">co dalej</a></li>
        <li><a href="{{@blog.url}}/dlaczego-i-kto">dlaczego i kto</a></li>
        <li><a href="{{@blog.url}}/kontakt">kontakt</a></li>
      </ul>
    </div>
  </div>
</div>
